<link rel="stylesheet" href="/stylesheets/nav.css" />
<nav class="navigation">
  <a href="/"> Home</a>
  <a href="/about">About</a>
  <a href="/courses">Courses</a>
  <a href="/login">Login</a>
  <a href="/signup">SignUp</a>
</nav>
<!-- This is callled partial - A piece of code that can be shared in multiple views eg header , footer , sidenav, aside/adverts-->
