<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" /stylesheets/about.css" />
    <title>About Us</title>
  </head>
  <body>
    <div class="container">
      <%- include("_nav.ejs") %>
      <h1>About Our Educative Website</h1>

      <h2>Formation</h2>
      <p>
        Our educative website was formed in [Year] with the vision of providing
        accessible and high-quality educational resources to learners worldwide.
        It was founded by a team of passionate educators and technologists who
        recognized the need for a platform that empowers individuals to enhance
        their skills and knowledge in various fields.
      </p>

      <h2>Mission</h2>
      <p>
        Our mission is to democratize education by breaking down barriers to
        learning and fostering a culture of continuous growth and development.
        We strive to offer diverse and engaging content that caters to the
        diverse learning needs of our users, whether they are students,
        professionals, or lifelong learners.
      </p>

      <h2>Vision</h2>
      <p>
        Our vision is to create a world where education is accessible to all,
        regardless of geographical location, socioeconomic status, or
        educational background. We aspire to be a global leader in online
        education, known for our commitment to excellence, innovation, and
        inclusivity.
      </p>

      <h2>Contact Us</h2>
      <p>
        For inquiries or further information about our educative website, please
        contact us at [email protected]
      </p>
    </div>
  </body>
</html>
