<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Login System</title>
  </head>
  <body>
    <% if (locals.user){ %>
    <h1>Welcome <%=user.fullname %></h1>
    <%} else { %>
    <h1>Welcome Guest</h1>
    <% } %> <%- include("_nav.ejs") %>
    <h1>Web Authentication and Security</h1>
    <p>
      "Master the Art of Secure Web Authentication: Learn Fundamentals & Best
      Practices for Building Login Systems."
    </p>
  </body>
</html>
<!-- System Capabilities (Account Creation ,Logging In ,Sessions Management ) 
Add Ons (Password Encryption ,Backend Input Validation )-->
